language: php

os:
  - linux
dist: bionic
sudo: false    
php:
- 8.1.0

branches:
  only:
  - master
  - develop

cache:
  directories:
  - $HOME/.composer/cache

before_install:
  - travis_retry composer self-update
  - composer install

script:
  - ./vendor/bin/phpunit --coverage-clover ./coverage.xml

after_success:
- bash <(curl -s https://codecov.io/bash)
