language: php

os:
  - linux

dist: bionic

sudo: false

cache:
  directories:
    - $HOME/.composer/cache
    
php:
- 8.1.0

install:
- travis_retry composer install --no-interaction --no-suggest

script:
- composer test -- --coverage-clover=coverage.xml

after_success:
- bash <(curl -s https://codecov.io/bash)

branches:
  only:
  - master
  - develop

cache:
  directories:
  - $HOME/.composer/cache
